.heading 
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px rgb(148, 221, 11);
}

.note
{
    font-size: 15px;
    color: rgb(52, 157, 226);
}

.copy_right_footer {
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: rgb(17, 20, 219);
    line-height: 3;
    text-align: center;
}

canvas
{
    border:5px solid rgb(209, 223, 24);
    border-radius:20px;
    box-shadow: 5px 5px 5px rgb(243, 5, 5);
}

